body {
    background-color: #CCCCCC;
}
.accordion {
    background-color: #fff;
    color: #4F487B;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 2em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.panel p {
    font-size: 1.3em;
    
}

.card-image {
    width: 200px;
    float: left;
    margin: 20px;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    background-color: #ccc;
}
.icon-image {
    width: 100px;
    margin-bottom: 10px;
    display: block;
}